.layout {
  width: 100vw;
  height: 100vh;
  .logo {
    height: 32px;
    margin: 16px;
    background: #fff;
    color: #ffb7cc;
    font-size: 18px;
    text-align: center;
    line-height: 31px;
    border-radius: 10px; /* 控制角的圆角程度，可以根据需要调整 */
  }
  .header {
    padding-left: 5px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    background: #ffb7cc;
    .menu {
      padding: 0 10px;
      color: white;
      font-size: 16px;
    }
    .trigger {
      padding: 0px;
      font-size: 18px;
      line-height: 64px;
      cursor: pointer;
      transition: color 0.3s;
      color: white;
      &:hover {
        color: #1890ff;
      }
    }
  }
}

.ant-layout-sider-children {
  background: #ffb7cc;
}
