.search {
  margin-bottom: 5px;
}

.star-rating {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.star {
  color: #fff;
  transition: color 0.3s;
  margin-right: 2px;
}

.star.filled {
  // color: #1b3cfb; /* 高亮颜色 */
  color: yellow; /* 高亮颜色 */
}
